@page "/orders"
@inject IHttpService Http
@inject NavigationManager Navigation
@using RektaManagerApp.Shared.ComponentModels.Orders

<div class="d-flex justify-content-center align-items-center">
    <p class="h3">Orders Made</p>
</div>


<div class="mt-4">
    <div class="mb-4 d-flex justify-content-between align-content-center">
        <span>
            <button @onclick="@(() => Navigation.NavigateTo("orders/make-orders"))" class="btn btn-outline-info bi bi-plus-circle-fill">
                Place Order
            </button>
        </span>
    </div>

    <div class="d-flex">
        <SfGrid DataSource="@_orders" AllowPaging="true" AllowFiltering="true" AllowSorting="true">
            <GridPageSettings PageSize="10"></GridPageSettings>
            <GridColumns>
                <GridColumn Field="@nameof(OrderComponentModel.OrderId)" HeaderText="Order ID" AllowEditing="false" TextAlign="TextAlign.Center"></GridColumn>
                <GridColumn Field="@nameof(OrderComponentModel.OrderDate)" HeaderText="Order Date" TextAlign="TextAlign.Center">
                    <Template>
                        @{ 
                            var date = (context as OrderComponentModel);
                            <span>
                                @date.OrderDate.Date
                            </span>
                        }
                    </Template>
                </GridColumn>
                <GridColumn HeaderText="Items in Order" TextAlign="TextAlign.Center" >
                    <Template>
                        @{ 
                            var order = (context as OrderComponentModel);
                            <span>
                                @order.OrderedItems.Count()
                            </span>
                        }
                    </Template>
                </GridColumn>
            </GridColumns>
        </SfGrid>
    </div>
</div>

@code {
    List<OrderComponentModel> _orders = new();

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync<List<OrderComponentModel>>("api/orders");

        if (response.Success)
            _orders = response.Response;
    }

}
