@page "/inventory/create"

@using RektaManager.Shared.ComponentModels.Inventories
@using RektaManager.Client.Utils
@inject NavigationManager NavigationManager
@inject IHttpService HttpService

<div class="col-12 d-flex justify-content-center">
    <h3>Create Inventory</h3>
</div>

<div class="col-12 d-flex justify-content-center">
    <EditForm Model="@inventory" OnValidSubmit="@SubmitInventory">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group custom-forms-preset">
            <label for="supplyDate"><b>Date Supplied</b></label>
            <div>
                <InputDate id="supplyDate" class="form-control custom-forms-preset"
                    @bind-Value="@inventory.SupplyDate" />
            </div>
        </div>
        <div class="form-group custom-forms-preset">
            <label for="inventoryName"><b>Inventory Name</b></label>
            <div>
                <InputText id="inventoryName" class="form-control custom-forms-preset" @bind-Value="@inventory.Name" />
            </div>
        </div>
        <div class="form-group custom-forms-preset">
            <label for="totalValue"><b>Total Value</b></label>
            <div>
                <InputNumber id="totalValue" class="form-control custom-forms-preset" @bind-Value="@inventory.Price" />
            </div>
        </div>
        <div class="form-group custom-forms-preset">
            <label for="quantity"><b>Starting Quantity</b></label>
            <div>
                <InputNumber id="quantity" class="form-control custom-forms-preset" @bind-Value="@inventory.Quantity" />
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary col-12" disabled="@disabled">Create</button>
        </div>
    </EditForm>
</div>

@code {
    private InventoryUpsertComponentModel inventory = new InventoryUpsertComponentModel();
    private bool disabled;
    public async Task SubmitInventory()
    {
        disabled = true;
        try
        {
            var result = await HttpService.Post("api/inventories", inventory);

            if (result.Success)
            {
                disabled = false;
                NavigationManager.NavigateTo("inventory");
            }
            else
            {
                Console.WriteLine("something failed. Maybe in the controller!");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

}
