@using RektaManager.Shared.ComponentModels.Inventories

<div class="col-12 d-flex justify-content-center">
    <EditForm Model="@Model" OnValidSubmit="@SubmitForm">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group custom-forms-preset">
            <label for="inventoryId"><b>Inventory Id Number</b></label>
            <div>
                <InputNumber @bind-Value="@Model.Id" readonly id="inventoryId" class="form-control"/>
                <small class="text-warning"><b>You cannot change this value...</b></small>
            </div>
        </div>
        <div class="form-group custom-forms-preset">
            <label for="supplyDate"><b>Date Supplied</b></label>
            <div>
                <RadzenDatePicker @bind-Value=@Model.SupplyDate TValue="DateTimeOffset" DateFormat="dd-MM-yyyy" />
            </div>
        </div>
        <div class="form-group custom-forms-preset">
            <label for="inventoryName"><b>Inventory Name</b></label>
            <div>
                <InputText id="inventoryName" class="form-control custom-forms-preset" @bind-Value="@Model.Name" />
            </div>
        </div>
        <div class="form-group custom-forms-preset">
            <label for="totalValue"><b>Total Value</b></label>
            <div>
                <InputNumber id="totalValue" class="form-control custom-forms-preset" @bind-Value="@Model.Price" />
            </div>
        </div>
        <div class="form-group custom-forms-preset">
            <label for="quantity"><b>Starting Quantity</b></label>
            <div>
                <InputNumber id="quantity" class="form-control custom-forms-preset" @bind-Value="@Model.Quantity" />
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary col-12" disabled="@Disabled">@ButtonActionName</button> 
            <span style="display: @ShowSpinner">
                <ActionSpinner ActionName="@SpinnerActionName" ColorVariant="@SpinnerColor"/>
            </span>
        </div>
    </EditForm>
</div>

@code {

    [Parameter]
    public EventCallback SubmitForm { get; set; }

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public string ShowSpinner { get; set; } = "none";

    [Parameter]
    public string SpinnerActionName { get; set; }

    [Parameter]
    public string SpinnerColor { get; set; } = "text-dark";

    [Parameter]
    public InventoryUpsertComponentModel Model { get; set; }

    [Parameter]
    public string ButtonActionName { get; set; }


}
